/* section03 生物種族*/
#section03{
  @extend %frame;
  top: -50px;

  .nav-link {
    font-size: 1.2rem;
    padding: 0;
  }

  .accordion-header {
    button {
      font-size: 1.3rem;
    }
  }

  h2 {
    font-size: 1.8rem;
  }

  .list-group-item{
    padding: 0.5rem 0;
  }

  a.active {
    background:  rgb(70, 30, 0);
    color: white;
    padding: 0.5rem;
  }
  
  @include lg {
    top: 0;
    margin-top: 90px;
  }
}